<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HCYoutubeParser.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0424392C1A9FC8B4001E61F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>042439361A9FC8B4001E61F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A87B521A9FBF0A008BD06B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A87B5D1A9FBF0A008BD06B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
